<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section allowDefinition="Everywhere" name="Meek.CacheFactory" type="Meek.Caching.Configuration.CacheFactoryConfigurationSection, Meek"/>
  </configSections>

  <Meek.CacheFactory>
    <CacheFactories>
      <ClearCacheFactories />
      
      <CacheFactory Name="Meek.Caching.CacheFactory" FactoryType="Meek.Caching.CacheFactory, Meek">
        <Variables>
          <clearVariables />
          <addVariable Key="Hello" Value="World" />
        </Variables>
      </CacheFactory>
      
    </CacheFactories>
  </Meek.CacheFactory>
</configuration>