@{
    ViewBag.Title = "Meek - Reusable, Flexible and Extendable";
}

<div class="container padding-top-20 padding-bottom-40" id="row-2">
	<div class="row">			
		<div class="eightcol padding-top-20 last">
			<p class="row-2-font justify">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate felis vitae tortor varius non ornare diam tincidunt. Aliquam velit dolor, imperdiet nec varius nec, consequat eget dui. Nulla eget nunc ac leo sodales aliquet. Mauris sit amet mi ac odio pharetra posuere a sit amet sapien. Sed velit dui, pharetra eu interdum sed, semper a turpis. Cras luctus lacus non felis placerat accumsan interdum diam rutrum. Etiam quis neque id mauris tristique facilisis. Phasellus porta elementum tortor, nec porta massa hendrerit non. Sed eget arcu nisl. Sed rutrum dui eu tortor pellentesque congue. Proin non magna ut erat mattis auctor. Suspendisse non nibh et massa dapibus dignissim ac vel nunc. Vivamus accumsan sollicitudin tellus, eu pharetra massa auctor ac. Mauris convallis placerat congue. Donec lectus lorem, pretium sit amet luctus in, posuere a ipsum. 
			</p>
		</div>
        <div class="fourcol last align-center padding-top-20 padding-bottom-20">
            <img src="@Url.Content("~/Content/images/download-button.png")" alt="download"  class="min-width-254"/>		
            
            <p class="download-version-font padding-top-10">
                alpha version 1.0.0.2
            </p>
        </div>
	</div>
</div>

<div class="container padding-top-20 padding-bottom-20" id="row-3">
	<div class="row">
		<div class="fourcol padding-top-20">
			<span class="row-3-column-header">Reusable</span>
			<p class="row-3-font justify padding-top-20">
			Praesent sagittis porta suscipit. Praesent sodales mi vitae felis iaculis sed tempus ipsum porttitor. Morbi vel urna non nulla consectetur ultrices. In at velit leo, feugiat auctor justo. Duis tincidunt ornare leo, vel convallis tellus posuere a. Ut blandit tempus mi nec tempor. Mauris at velit magna, ornare sodales eros. Cras eget condimentum enim. Aenean imperdiet adipiscing accumsan. Nam eleifend mi vel sem rutrum euismod ut vel purus. 
			</p>
		</div>
		<div class="fourcol padding-top-20">
			<span class="row-3-column-header">Flexible</span>
			<p class="row-3-font justify padding-top-20">
			Integer blandit nulla non sem interdum pharetra. Aliquam felis lorem, pharetra ac volutpat nec, ultrices a magna. Integer eu massa nibh. Proin lacinia, erat nec tristique vulputate, urna dolor tristique arcu, vitae ornare magna elit at turpis. Phasellus vehicula, sapien et commodo consequat, tortor neque laoreet nisl, vitae dignissim leo nibh vel velit. Donec a velit tellus. Fusce ac quam purus, ut imperdiet augue. Sed lacus augue, pharetra posuere consequat non, fringilla vel tortor. Vivamus sollicitudin adipiscing rhoncus. 
			</p>
		</div>
		<div class="fourcol last padding-top-20">
			<span class="row-3-column-header">Extendable</span>
			<p class="row-3-font justify padding-top-20">
			Pellentesque vulputate convallis nulla, vitae scelerisque augue aliquam a. Nunc pretium, elit at molestie ultricies, turpis erat fringilla mi, in imperdiet tellus est pulvinar orci. Sed libero lectus, faucibus sit amet blandit eu, convallis non nulla. Aenean posuere tristique lectus, vitae aliquam lorem fringilla sit amet.
			</p>
		</div>
	</div>
</div>